body {
  margin: 0;
  font-family: 'Courier New', monospace;
  background-color: #001d3d;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

button {
  margin: 0 10px;
  padding: 8px 16px;
  background-color: #00008B;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}